In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [3]:
import pandas as pd
from numpy import array
#import dailyData
datadf = pd.read_csv("../dailyData/dailyData.csv")

In [4]:
datadf['lottoNum'] = datadf['First Number'].astype(str) +  datadf['Second Number'].astype(str) +  datadf['Third Number'].astype(str) 
datadf.head()

   Draw Date Draw Schedule  First Number  Second Number  Third Number lottoNum
0   7/9/2019       Morning             8              1             3      813
1   7/9/2019       Evening             2              3             0      230
2  7/10/2019       Morning             9              9             5      995
3  7/10/2019       Evening             2              3             2      232
4  7/11/2019       Morning             4              3             2      432

In [5]:
datadf['lottoX'] = datadf['lottoNum'].shift(-1)
dataLotto = datadf[['lottoNum', 'lottoX']].astype(float)
cleanData = dataLotto.dropna()
cleanData.head()

   lottoNum  lottoX
0     813.0   230.0
1     230.0   995.0
2     995.0   232.0
3     232.0   432.0
4     432.0   362.0

In [ ]:

def split_sequence(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
        # find the end of this pattern
        end_ix = i + n_steps
        # check if we are beyond the sequence
        if end_ix > len(sequence)-1:
            break
        # gather input and output parts of the pattern
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return array(X), array(y)

In [ ]:
# choose a number of time steps
n_steps = 200
# split into samples
X, y = split_sequence(np.asarray(cleanData['lottoX']), n_steps)
# reshape from [samples, timesteps] into [samples, timesteps, features]

In [ ]:
print("Shape: ", X.shape, y.shape)

In [ ]:
X

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
fig = plt.figure(1, figsize=(5, 5))
axes = Axes3D(fig, elev=20, azim=45)
axes.scatter(X[:,0], X[:,1], X[:,2], c=y, cmap=plt.cm.get_cmap("Spectral"))
plt.show()

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all of our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

In [ ]:
newX = np.asarray(cleanData['lottoX'])
newX = newX[-200:]
newX

In [ ]:
newX = newX.reshape(1, -1)
newX

In [ ]:

predictions = model.predict(newX)
predictions
# Plot Residuals
#plt.scatter(predictions, predictions - y)
#plt.hlines(y=0, xmin=predictions.min(), xmax=predictions.max())
#plt.show()

In [ ]:
import pickle
#save model
pkl_filename = "pSKLearn_MultipleRegression_AP_R100_R000.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(model, file)

In [ ]:
# Load from file
pkl_filename =pkl_filename
with open(pkl_filename, 'rb') as file:
    pickle_model = pickle.load(file)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)
model.fit(X_train, y_train)
model.score(X_train, y_train)
model.score(X_train, y_train)

In [ ]:
# Calculate the accuracy score and predict target values
score = pickle_model.score(X_test, y_test)
print("Test score: {0:.2f} %".format(100 * score))
Ypredict = pickle_model.predict(X_test)

In [2]:
## Load saved model
import pickle
pkl_filename = "MLModels/pSKLearn_MultipleRegression_AP_R100_R000.pkl"
with open(pkl_filename, 'rb') as file:
    pickle_model = pickle.load(file)

In [3]:
import pandas as pd
import numpy as np
from numpy import array
#import dailyData
datadf = pd.read_csv("dailyData/dailyData.csv") 
datadf['lottoX'] = datadf['First Number'].astype(str) +  datadf['Second Number'].astype(str) +  datadf['Third Number'].astype(str) 
dataLotto = datadf[['lottoX']].astype(float)
newX = np.asarray(dataLotto['lottoX'])
newX = newX[-200:]
newX = newX.reshape(1, -1)
newX

array([[866., 184., 697., 452., 486.,  20., 296.,  54., 139., 682., 853.,
        733., 339., 599., 588., 968., 959., 350., 855., 865., 591., 552.,
        391., 127., 166., 215., 204., 114., 697., 856., 840., 595., 694.,
        435., 551., 957., 157., 867., 349., 932., 427., 758., 761., 612.,
        365.,  32., 224., 281., 213.,  84., 105., 723., 124., 378., 999.,
         96., 510., 774., 323., 711., 519., 653., 105.,  57.,  98., 448.,
        475., 762., 483., 449., 229., 185., 588., 672., 873., 437., 134.,
        547., 324., 470.,  91., 440., 673., 801., 854.,  96., 620., 479.,
        931., 457., 704., 762., 102., 987., 608., 710., 499., 540., 979.,
        501., 288.,  30., 968., 123.,  61., 448., 190., 321., 553.,  55.,
        436., 122., 369.,  10., 341., 847., 321., 111., 634., 277., 769.,
        799., 313., 199., 792., 794., 688., 293.,  35., 220., 136., 738.,
        676., 591.,  21., 145., 220., 703., 159., 995., 363.,  11., 392.,
        849., 534., 607., 232., 328., 857., 842., 848., 303., 651., 994.,
        973., 575., 902., 259., 857., 176.,  27.,   8.,  53., 100., 586.,
        168., 552., 276., 694., 276., 442., 732., 857., 603., 476., 648.,
        886., 938.,  83., 548., 788., 906., 903.,   6., 995., 382.,  75.,
        478., 187., 485., 363.,  15., 299., 876.,  66., 631., 117., 519.,
        461., 781.]])

In [4]:
# predict target values
Ypredict = pickle_model.predict(newX)

In [9]:
Ypredict = int(np.round(Ypredict,0))

In [17]:
Ypredict = str(Ypredict)

In [21]:
int(Ypredict[2])

6