In [1]:
import pandas as pd
from numpy import array
import matplotlib.pyplot as plt
#import dailyData
datadf = pd.read_csv("../dailyData/dailyData.csv") 
#create a column and concatenate all 3 numbers
datadf.head()

   Draw Date Draw Schedule  First Number  Second Number  Third Number
0   7/9/2019       Morning             8              1             3
1   7/9/2019       Evening             2              3             0
2  7/10/2019       Morning             9              9             5
3  7/10/2019       Evening             2              3             2
4  7/11/2019       Morning             4              3             2

In [2]:
datadf['lottoNum'] = datadf['First Number'].astype(str) +  datadf['Second Number'].astype(str) +  datadf['Third Number'].astype(str) 
datadf['lottoX'] = datadf['lottoNum'].shift(-1)
datadf = datadf.drop('Draw Date', axis=1)
datadf = datadf.drop('First Number', axis=1)
datadf = datadf.drop('Second Number', axis=1)
datadf = datadf.drop('Third Number', axis=1)
datadf = datadf.dropna()
datadf.head()

  Draw Schedule lottoNum lottoX
0       Morning      813    230
1       Evening      230    995
2       Morning      995    232
3       Evening      232    432
4       Morning      432    362

In [3]:
datadf['lottoNum'] = datadf['lottoNum'].astype(int)
datadf['lottoX'] = datadf['lottoX'].astype(int)

In [4]:
datadf.dtypes

Draw Schedule    object
lottoNum          int32
lottoX            int32
dtype: object

In [5]:
df2 = pd.get_dummies(datadf)
df2.head()

   lottoNum  lottoX  Draw Schedule_Evening  Draw Schedule_Morning
0       813     230                      0                      1
1       230     995                      1                      0
2       995     232                      0                      1
3       232     432                      1                      0
4       432     362                      0                      1

In [6]:
X = df2[['lottoX','Draw Schedule_Evening', 'Draw Schedule_Morning']]
y = df2['lottoNum'].values.reshape(-1, 1)
print(X.shape,y.shape)

(218, 3) (218, 1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
print(X_train.shape,y_train.shape)

In [ ]:
print(X_test.shape,y_test.shape)

In [ ]:
# from sklearn.preprocessing import StandardScaler
# Create a StandardScater model and fit it to the training data
### BEGIN SOLUTION
# X_scaler = StandardScaler().fit(X_train)
# y_scaler = StandardScaler().fit(y_train)

In [ ]:
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:

predictions = model.predict(X_test)
model.fit(X_train, y_train)
plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="Training Data")
plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y_test.min(), xmax=y_test.max())
plt.title("Residual Plot")
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test, predictions)
r2 = model.score(X_test, y_test)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
NewPredict = model.predict([[781,1,0]])

In [ ]:
NewPredict

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [8]:
NewPredict = model.predict([[781,0,1]])

In [9]:
NewPredict

array([[521.10517921]])

In [10]:
import pickle
#save model
pkl_filename = "SKLearn_LinearRegression_MornEve.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(model, file)

In [11]:
X = X[-1:]
X

     lottoX  Draw Schedule_Evening  Draw Schedule_Morning
217     374                      1                      0